header .header-container--ul li a {
    font-size: 1.7rem;
}

main .main-showcase--container {
    height: 250px;
}

main .main-showcase--container h1 {
    width: 400px;
    font-size: 4rem;
    margin-top: 20px;
    margin-left: 20px;
}

main .presentation-container--box {
    width: 550px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    flex-direction: column-reverse;
    align-items: center;
}

main .container-box--text {
    display: inline-block;
    margin-top: 40px;
    width: 400px;
    height: 300px;
}

hr {
    margin-top: 50px;
}

main .presentation-container--box span {
    margin-top: 40px;
}

main .main-photografi-container h2 {
    font-size: 4.4rem;
    height: auto;
    line-height: 3.6rem;
    text-align: center;
}

main .photografi-container--section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 550px;
    height: auto;
}

.podcast-container--img {
    width: 100%;
    height: 250px;
}

main .main-podcast--container h2 {
    font-size: 4.4rem;
}

main .podcast--container--cards {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    justify-content: flex-start;
    width: 600px;
    height: auto;
    text-align: justify;
}

main .container-cards {
    display: flex;
    flex-direction: column;
    justify-content: flex;
    align-items: center;
    height: auto;
    margin-bottom: 20px;
}

main .podcast--container--cards p {
    height: 130px;
}

main .main-container--redes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
}

.close {
    top: 80px;
    right: 40px;
}
